$borderUnchecked: rgba(154, 187, 206, 1);
$checked: rgba(33, 150, 243, 1);

.filterList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 8px 0px #0000001a;
  background-color: #fff;
  padding: 15px 15px;
  margin: 0;
  height: 252px;
  width: 232px;
  border-radius: 8px;
  gap: 20px;
  h3 {
    letter-spacing: 0.5px;
    font-size: 1rem;
    line-height: 12px;
    margin: 0;
    padding: 0;
  }
}

.testing {
    display: none;
}

.customChecked::before {
  background-image: url(check.svg);
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  right: 5px;
  top: 1px;
  content: '     ';
  color: $checked;
  width: 13px;
  height: 13px;
  border: 1px solid $checked;
  border-radius: 3px;
}

.customUnchecked::before {
  position: relative;
  right: 5px;
  top: 1px;
  content: '     ';
  color: $checked;
  width: 13px;
  height: 13px;
  border: 1px solid $borderUnchecked;
  border-radius: 3px;
}





@media (max-width: 768px) {
  .filterList {
    align-self: start;
    font-size: 1rem;
    // width: 100%;
    display: flex;
    border-radius: 15px;
  }
}
