.filterList {
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 8px 0px #0000001A;
    background-color: #fff;
    padding: 15px 15px;
    margin: 0;
    height: 252px;
    width: 232px;
    border-radius: 8px;
    gap:20px;
    h3 {
        letter-spacing: 0.5px;
        font-size: 1rem;
        line-height: 12px;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    f.filterList {
      font-size: 1rem;
    }
  }


